*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.general {
  height: 100vh;
  background: url(./images/back_4.jpg) no-repeat center; 
  background-size: cover;
}

.navigation {
  z-index: 2;
  position: fixed;
  width: 100%;
  top: 0;
}

.skills {
  background-image: url('./images/back_3_fin.png');
  background-size: 45%;
  background-position: center 30vh;
  background-repeat: no-repeat;
  height: 100vh;
}

.section {
  z-index: 1;
}

.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent tomato;
}

.fp-controlArrow.fp-prev {
  border-color: transparent tomato transparent transparent !important;
}


@media only screen and (max-width: 720px) {
  .skills {
    
    background-size: 70%;
    background-position: center 37vh;
  }
  
}